*{
    margin:0;
    padding: 0;
}
body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: rgb(0,16,18);
    background: linear-gradient(90deg, rgba(0,16,18,1) 0%, rgba(0,27,31,1) 35%, rgba(0,17,16,1) 100%);
}

.hero {
    z-index: -2;
}
.container img {
}
/* Navbar */
nav fixed-top{
        height: 70px;
      
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    background: linear-gradient(90deg, rgba(0,16,18,1) 0%, rgba(0,27,31,1) 35%, rgba(0,17,16,1) 100%);
    color: #fff;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

nav .logo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
nav .logo img{
    height: 20px;
    margin-right: 5px;
    
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
}
nav ul li a:hover {
    color: #008F75;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 50px;
    height: 25px;
    left: -11px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* Humberger Menu */
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}

.Imagehero {
    width: 75%;
}
span{
    margin-top: 5px;
    display: block;
    width: 160px;
    height: 2px;
    background-color: #008F75;
    border-radius: 5px;
}

.konten {
    opacity: 0.9;
    position: sticky;
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 170px;
    color: #fff;
}

.konten p{
    font-weight: 100;
    text-align: justify;
    margin-top: 15px

}

.footer{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(0,18,20,1) 0%, rgba(5,61,65,1) 35%, rgba(1,27,23,1) 100%);
    padding: 30px;
    opacity: 0.9;
    margin-top: 30px;
}
.footer a{
    font-weight: 100;
    margin-left: 10px;
    color: #008F75;
    text-decoration: none;
}
.footer p{
    font-weight: 100;
}
/* Humberger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #008F75;
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #008F75;
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    background-color: #008F75;
}
/* Responsive */

/* tablet */
@media screen and (max-width:768px){
    .konten {
        margin-right: 80px;
        margin-left:82px;
    }
    nav ul {
        width: 50%;
    }
}
/* mobile */
@media screen and (max-width:576px){
    .menu-toggle {
        
        display: flex;
    }
    nav ul {
        
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        justify-content: space-evenly;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.8s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;  
        background-color: rgba(255, 255, 255, 0.10);  
        backdrop-filter: blur(3px); 
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
}